app-componente{
    display: flex;
    
    padding: 10px;
}
h1,h2{
    display: flex;
    justify-content: center;
}

a{
    color: rgb(9, 7, 130);
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
}