<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/img6.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Obra de Arte 1</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/img1.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Obra de Arte 2</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/img2.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Obra de Arte 3</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/img4.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Obra de Arte 4</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/img5.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Obra de Arte 5</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
    </div>
  </div>