<p>movies works!</p>
<div class="movie-container">
  <div *ngFor="let movie of movies" class="card" style="width: 18rem;">
    <img [src]="movie.image.url" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{ movie.title }}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <div class="buttons">
        <a class="btn btn-primary" (click)="showDetail(movie.id)">+ Info</a>
        <a class="btn btn-dark" (click)="addToCart(movie.id)">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
<app-info [movie]="movieInfo" [show]="show"></app-info>
<app-cart [movie]="movieToCart" [showCart]="showCart"></app-cart>
